<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Reservia - Online Booking System">
    <meta name="keywords" content="hotel, resort, Spa">
    <!-- for open graph social media -->
    <meta property="og:title" content="Hotel and Resort">
    <meta property="og:description" content="Reservia - Online Booking Systeme">
    <title>Reservia - Online Booking System</title>

    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&amp;family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" th:href="@{/fonts/flaticon_bokinn.css}">
    <link rel="stylesheet" th:href="@{/css/plugins.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Contenu dynamique ici -->
    <div th:replace="~{::content}"></div>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <div th:insert="~{fragments/forms :: loginPopup}"></div>
    <div th:insert="~{fragments/forms :: signupPopup}"></div>
    <div th:insert="~{fragments/forms :: forgotPasswordPopup}"></div>
    <div th:insert="~{fragments/forms :: logoutPopup}"></div>

    <div th:insert="~{fragments/ui-utils :: back_to_top}"></div>
    <div th:insert="~{fragments/ui-utils :: preloader}"></div>
    <div th:insert="~{fragments/ui-utils :: scripts}"></div>

    <!-- À placer avant la fermeture du </body> -->
<script th:inline="javascript">
    /*<![CDATA[*/
    const loginError     = /*[[${loginError}]]*/ null;
    const registerError  = /*[[${registerError}]]*/ null;
    const registerSuccess = /*[[${registerSuccess}]]*/ null;
    const verifySuccess = /*[[${verifySuccess}]]*/ null;
    const success        = /*[[${success}]]*/ null;

    document.addEventListener('DOMContentLoaded', function () {

        if (loginError) {
            new bootstrap.Modal(document.getElementById('loginModal')).show();
        }

    if (registerError) {
        new bootstrap.Modal(document.getElementById('signupModal')).show();
    }

    if (registerSuccess || verifySuccess) {
        new bootstrap.Modal(document.getElementById('loginModal')).show();
    }



    });
    /*]]>*/
</script>

</body>
</html>