<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/layout :: layout}">

<div th:fragment="content">
    <div class="rts__section page__hero__height page__hero__bg"  th:style="'background-image: url(' + @{/images/pages/header_bg.webp} + ')'">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="page__hero__content">
                        <h1 class="wow fadeInUp">Our Rooms</h1>
                        <p class="wow fadeInUp font-sm">
                            Discover our comfortable rooms designed for your perfect stay in Tunisia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rts__section section__padding">
        <div class="container">
            <div class="row g-30 main__content sticky-wrap">
                <div class="col-12">
                    <div class="row g-30">
                        <div th:each="room : ${rooms}" class="col-xl-4 col-lg-12 col-md-6">
                            <div class="room__card">
                                <div class="room__card__top">
                                    <div class="room__card__image">
                                        <a th:href="@{/rooms/{id}(id=${room.id})}">
                                            <img th:src="@{${room.image_path}}" width="420" height="310" alt="room card">
                                        </a>
                                    </div>
                                    <div class="room__price__tag">
                                        <div class="room__price">
                                            <div class="eshb-price">
                                                <span th:text="${room.price} + ' TND'" class="eshb-price-amount amount"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="room__card__meta">
                                    <a th:href="@{/rooms/{id}(id=${room.id})}" th:text="${room.type}" class="room__card__title h5"></a>
                                    <div class="room__card__meta__info">
                                        <span><i class="flaticon-construction"></i><span th:text="${room.size} + ' m²'"></span></span>
                                        <span><i class="flaticon-user"></i><span th:text="${room.capacity} + ' Guests'"></span></span>
                                    </div>
                                    <p th:text="${room.description}" class="room__desc"></p>
                                    <a th:href="@{/rooms/{id}(id=${room.id})}" class="room__card__link">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="eshb-pagination">
                        <ul class="pagination-list">

                            <!-- Previous -->
                            <li th:if="${currentPage > 0}">
                                <a th:href="@{/rooms(page=${currentPage - 1})}">&laquo; Prev</a>
                            </li>

                            <!-- Pages -->
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                <span th:if="${i == currentPage}" class="page-numbers current" th:text="${i + 1}"></span>
                                <a th:if="${i != currentPage}"
                                   class="page-numbers"
                                   th:href="@{/rooms(page=${i})}"
                                   th:text="${i + 1}"></a>
                            </li>

                            <!-- Next -->
                            <li th:if="${currentPage < totalPages - 1}">
                                <a th:href="@{/rooms(page=${currentPage + 1})}">
                                    Next &raquo;
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

</html>