<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/layout :: layout}">

<div th:fragment="content">
    <!-- page header -->
    <div class="rts__section page__hero__height page__hero__bg" th:style="'background-image: url(' + @{/images/pages/header__bg.webp} + ')'">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="page__hero__content">
                        <h1 class="wow fadeInUp">Contact Us</h1>
                        <p class="wow fadeInUp font-sm">Whether you have questions, need assistance, or simply want to share.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page header end -->

    <!-- contact area -->
    <div class="rts__section section__padding">
        <div class="container">
            <div class="row g-30 align-items-center">
                <div class="col-lg-6">
                    <div class="rts__contact">
                        <span class="h4 d-block mb-30 text-center">Love to hear from you
                            Get in touch!</span>
                        <form action="/contact" method="post" class="rts__contact__form" id="contact-form">
                            <div th:if="${contactSuccess}" class="alert alert-success" th:text="${contactSuccess}"></div>
                            <div th:if="${contactError}" class="alert alert-danger" th:text="${contactError}"></div>
                            <div class="form-input">
                                <label for="name">Your Name</label>
                                <div class="pr">
                                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                                    <i class="flaticon-user"></i>
                                </div>
                            </div>
                            <div class="form-input">
                                <label for="email">Your Email</label>
                                <div class="pr">
                                    <input type="email" id="email" name="email" placeholder="Your Email" required>
                                    <i class="flaticon-envelope"></i>
                                </div>
                            </div>
                            <div class="form-input">
                                <label for="msg">Your Message</label>
                                <div class="pr">
                                    <textarea id="msg" name="msg" placeholder="Message" required></textarea>
                                    <img th:src="@{/images/icon/message.svg}" width="20" height="20" alt="">
                                </div>
                            </div>
                            <button type="submit" class="theme-btn btn-style fill w-100"><span>Send Message</span></button>
                        </form>
                        <div id="form-messages" class="mt-20"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact__image">
                        <img class="rounded-2 w-100 img-fluid" th:src="@{/images/pages/contact.webp}" width="645" height="560" alt="contact__image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-120">
            <div class="row g-30 align-items-center">
                <div class="col-lg-6">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.9215001522234!2d10.611773675779125!3d35.801860423338105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8aaf32a4647f%3A0x7ae14f2d2c358385!2sInstitut%20Sup%C3%A9rieur%20des%20Etudes%20Technologiques%20de%20Sousse!5e0!3m2!1sfr!2stn!4v1778361583790!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact__info">

                        <div class="contact__info__item">
                            <h4>Hotel Info Center</h4>

                            <p th:if="${settings != null}">
                                Open Hours: Monday – Sunday <br>

                                Telephone:
                                <a th:href="'tel:' + ${settings.phone}"
                                   th:text="${settings.phone}">
                                </a>
                                <br>

                                Email:
                                <a th:href="'mailto:' + ${settings.email}"
                                   th:text="${settings.email}">
                                </a>
                            </p>
                        </div>

                        <div class="contact__info__item">
                            <h4>Hotel Location</h4>
                            <p th:if="${settings != null}">
                                Address:
                                <span th:text="${settings.address}"></span>
                                <br>

                                Telephone:
                                <a th:href="'tel:' + ${settings.phone}"
                                   th:text="${settings.phone}">
                                </a>
                                <br>

                                Email:
                                <a th:href="'mailto:' + ${settings.email}"
                                   th:text="${settings.email}">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area end -->
</div>

</html>