<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/layout :: layout}">

<div th:fragment="content">
    <!-- page header -->
    <div class="rts__section page__hero__height page__hero__bg"  th:style="'background-image: url(' + @{/images/pages/header___bg.webp} + ')'">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="page__hero__content">
                        <h1 class="wow fadeInUp">My account</h1>
                        <p class="wow fadeInUp font-sm">Whether you have questions, need assistance, or simply want to share.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page header end -->

    <div class="main-contain">
        <div class="container">
            <div id="content">

            </div>
        </div>
    </div>

</div>

</html>