<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/account_layout :: account_layout}">
       

<div th:fragment="content_account">
     <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
    <div class="account-form">
        <h4>Change Password</h4>
        <p class="form-subtitle">For your security, choose a strong password that you don’t use elsewhere.</p>

        <form th:action="@{/account/change-password}" method="post">
            <div class="custom-field">
                <i class="fa fa-lock"></i>
                <input type="password" name="currentPassword" placeholder="Current Password" required>
            </div>

            <div class="custom-field">
                <i class="fa fa-key"></i>
                <input type="password" name="newPassword" placeholder="New Password" required>
            </div>

            <div class="custom-field">
                <i class="fa fa-check-circle"></i>
                <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
            </div>

            <div class="form-actions">
                <button type="submit" class="theme-btn btn-style fill"><span>Update Password</span></button>
            </div>
        </form>
    </div>
</div>

</html>