<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/dashboard_layout :: dashboard_layout}">

<div th:fragment="content_dashboard">
    <div class="account-form">

        <h4>Account Details</h4>
        <p class="form-subtitle">Update your personal information below.</p>

        <form th:action="@{/dashboard/account/update}" method="post">

            <!-- Name -->
            <div class="custom-field">
                <i class="fa fa-user"></i>
                <input type="text"  name="nom" placeholder="Your Name" required th:value="${client.nom}">
            </div>

            <!-- Email -->
            <div class="custom-field">
            <i class="fa fa-envelope"></i>
            <input type="email" id="email" name="email"
                th:value="${client.email}" required>
            </div>

            <div id="emailWarning" class="alert-warning-custom" style="display:none;">
                ⚠️ Modifier votre email entraînera une déconnexion automatique.
            </div>

            <!-- Submit -->
            <div class="form-actions">
                <button type="submit" class="theme-btn btn-style fill">
                    <span>Update Account</span>
                </button>
            </div>

        </form>

    </div>
</div>

</html>

<script th:inline="javascript">
    const originalEmail = /*[[${client.email}]]*/ "";
    const emailInput = document.getElementById("email");
    const warning = document.getElementById("emailWarning");

    if (emailInput) {
        emailInput.addEventListener("input", function () {
            if (emailInput.value !== originalEmail) {
                warning.style.display = "block";
            } else {
                warning.style.display = "none";
            }
        });
    }
</script>